.gamestats {
    display: flex;
    justify-content: center;
}

.game {
    display: grid;
    align-items: center;
    height: 80vh;
}

.dealer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    top: -10vh;
}

.again{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.again button {
    width: 15vw;
    height: 5vh;
}

.back-btn {
    position: fixed;
    margin-top: -5vh;
    margin-left: 90vw;
}

.card {
    width: 10vw;
    height: 25vh;
}

#n0 {
    position: fixed;
    top: 65vh;
    left: 40vw;
}

#n1 {
    position: fixed;
    top: 60vh;
    left: 20vw;
    transform: rotate(10deg);
}

#n2 {
    position: fixed;
    top: 60vh;
    left: 60vw;
    transform: rotate(-10deg);
}

#n3 {
    position: fixed;
    top: 50vh;
    left: 2vw;
    transform: rotate(30deg);
}

#n4 {
    position: fixed;
    top: 50vh;
    left: 78vw;
    transform: rotate(-30deg);
}

/* Контейнер для пары карт игрока */
.card-pair {
    display: inline-block;
    position: relative;
    margin: 0 10px; /* отступы между парами */
}

.left-card {
    position: relative;
    left: 10px;   /* сдвиг вправо */
    z-index: 1;
}

.right-card {
    position: relative;
    right: 10px;  /* сдвиг влево */
    z-index: 0;
}

/* Контейнер для пары карт дилера */
.dealer-pair {
    display: inline-block;
    position: relative;
}

.dealer-left {
    position: relative;
    left: 10px;
    z-index: 1;
}

.dealer-right {
    position: relative;
    right: 10px;
    z-index: 0;
}

.red-card {
    /* Преобразует черный цвет в красный */
    filter: brightness(0) saturate(100%) invert(14%) sepia(97%) saturate(5290%) hue-rotate(0deg) brightness(105%) contrast(107%);
}